.gradle/4.0.2/fileChanges/last-build.bin
.gradle/4.0.2/fileHashes/fileHashes.lock
.gradle/buildOutputCleanup/built.bin
.gradle/buildOutputCleanup/cache.properties
.gradle/buildOutputCleanup/cache.properties.lock
